.main-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-bottom: 100px;
}

.home-container{
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    background:whitesmoke;
    width: 100%;
    
}

.paragraph-container{
    justify-content: center;
    margin: 60px auto;
    align-items: center;
    text-align: center;
    width:100%;
}


/* Portrait and Landscape */
@media (max-width:450px) { 
    .main-container{
        display: flex;
        flex-direction: column;
    }
}