.header{
    display: flex;
    flex-direction: row;
    height:50px;
    align-items: center;
    margin: 20px auto ;
    width:100%;
    justify-content: center;
}

.bowst-logo{
    height: 120px;
    width:120px;
}


.header-menu{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: flex-start;
    min-width:450px
}

.link{
    margin-left: 80px;
    text-decoration: none;
}

.menu-link{
    margin-left: calc(50% - 465px);
}